.local-player-info {
  padding: 2em;
  font-size: 1.1em;
  
  .player-btn {
    background: #EBEBEB;
    border-radius: 2em;
    padding: 1em 2em;
    color: #212121;
    cursor: pointer;
    display: block;
    margin-top: 2em;
    text-align: center;
  }
}