.slider-setting {
  .setting-info {
    margin-top: var(--element-margin);
    margin-bottom: 0.3rem;

    .value {
      color: #66CC99;
      font-size: 0.8em;
    }
  }

  --slider-color: #66CC99;
  &.orange {
    --slider-color: #EEA861;
  }

  input[type='range'] {
    cursor: ew-resize;

    &:focus {
      outline: none;
    }
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
      overflow: hidden;
      width: 100%;
      height: 30px;
      -webkit-appearance: none;
      background-color: #3D474C;
      border-radius: 7px;

      /*Chrome*/
      &::-webkit-slider-runnable-track {
        height: 10px;
        -webkit-appearance: none;
        color: var(--slider-color);
        margin-top: -1px;
      }

      &::-webkit-slider-thumb {
        width: 0px;
        -webkit-appearance: none;
        height: 0px;
        cursor: ew-resize;
        box-shadow: -200px 0 0 200px var(--slider-color);
      }
    }
  }

  /** FF*/
  input[type="range"]::-moz-range-progress {
    background-color: var(--slider-color);
  }

  input[type="range"]::-moz-range-track {
    background-color: #3D474C;
  }
}