$shade-10: #2c3e50 !default;
$shade-1: #d7dcdf !default;
$shade-0: #fff !default;
$teal: #66CC99 !default;

.speed-setting {
  margin-top: var(--element-margin);

  .info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .label-container {
      display: flex;
      align-items: center;

      label {
        display: flex;
        align-items: center;
      }
    }
  }

  .current-speed {
    background-color: #141819;
    color: #A7A7A7;

    width: 50px;
    border-radius: 7px;
    font-size: 0.7rem;
    font-weight: bold;
    
    padding: 0.25rem;
    border: 0;

    margin: 0;

    display: flex;
    justify-content: center;
    align-items:center;

    cursor: pointer;

    overflow-x: hidden;

    &:focus {
      outline: none;
    }
    
    .chevron-icon {
      width: 12px;
      margin-left: 2px;

      transition: all 0.5s;
    }
  }

  .value-option {
    border: none;
    background-color: #141819;
    color: #A7A7A7;

    width: 100%;
    border-radius: 9px;
    font-size: 0.7rem;
    font-weight: bold;

    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items:center;

    cursor: pointer;

    &.value-custom {
      grid-column: span 4 / span 1;
      aspect-ratio: auto;
    }

    &.active {
      border: #EEA861 3px solid;
      color: #EEA861;
    }
  }

  .selector-container {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 10px;
  }

  .selector {
    select, input, button {
      width: 100%;
      margin-top: 0.5rem;
      background-color: #141819;
      color: #FFFFFF;
      border: 0;
      padding: 0.6rem;
      text-align: center;
      cursor: pointer;
      border-radius: 9px;
      font-size: 0.7rem;
      font-weight: bold;
  
      &:focus {
        outline: none;
        // box-shadow: 0 0 0 1px $shade-0,
        //           0 0 0 2px $teal;
      }
    }
  }

  .custom-value-container {
    display: flex;
    width: 100%;

    input {
      margin-right: 0.5rem;
    }
  }
}
