.vu-meter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0 1.5rem 0;


  canvas {
    width: 300px;
    height: 35px;
    background-color: #3D474C;
    border-radius: 7px;
  }
}