.help-modal {
  width: 1.2rem;
  height: 1.2rem;

  .open-button {
    background-color: #3D474C;
    color: #FFFFFF;

    border-radius: 100%;
    border: none;

    font-size: 0.6rem;

    display: flex;
    justify-content: center;
    align-items:center;

    width: 1.2rem;
    height: 1.2rem;

    margin: 0 0 0 0.4rem;
    padding: 0;

    cursor: pointer;
  }
}

.help-modal__modal {
  position: fixed;

  top: 1rem;
  left: 1rem;
  right: 1rem;
  bottom: 1rem;

  padding: 1rem;

  background-color: #4e4e4e;
  z-index: 10;

  border-radius: 1rem;

  overflow-y: auto;

  h2 {
    font-size: 1.3rem;
  }

  .close-button {
    -webkit-appearance: button;
    position: absolute;
    right: 1rem;
    font-size: 1.3rem;
    
    background-color: #EBEBEB;
  
    border: 0;
    border-radius: 100%;
  
    width: 2rem;
    height: 2rem;
  
    display: flex;
    justify-content: center;
    align-items:center;
  
    cursor: pointer;
  }
}