.v4-info {
  background-color: #3D474C;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;

  padding: 1rem;

  h2 {
    font-size: 1.05rem;
    font-weight: bold;
    text-align: center;
  }

  a {
    color: #FADC4B;
  }
}