.neonfin-info {
  margin: 1rem auto;
  max-width: 300px;
  background-color: #18181b;
  border-radius: 0.5rem;
  padding: 2rem;

  .close-button {
    margin-left: auto;
    width: 2rem;
    height: 2rem;
    background-color: #212121;
    border-radius: 50%;
    border: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .main-content {
    margin-top: 1rem;
  }

  h2 {
    font-size: 1rem;
    font-weight: 800;
    margin: 0;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: 0.85rem;
    font-weight: 500;
    margin: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
  }
  .image-container {
    width: 70%;
    margin: 0 auto;
  }

  a.button {
    display: block;
    margin: 1rem auto;
    width: 100%;
    max-width: 200px;
    padding: 0.5rem 1rem;
    background-color: #212121;
    border-radius: 0.5rem;
    text-align: center;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }
}
