:root {
  --element-margin: 0.85rem;
}

html {
  overflow-x: hidden;
}

body {
  width: 360px;
  min-height: 470px;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 14px;

  background: #293033;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.small {
  margin: 0.5rem 0 0.8rem 0;
  font-size: 0.7rem;
  color: #adadad;

  a {
    color: #bbbbbb;
  }
}

.bottom-border {
  border-bottom: 2px solid #464748;
  padding-bottom: var(--element-margin);
}

.setting-icon {
  margin-right: 12px;
  color: #a7a7a7;
  width: 12px;
}

// IntroJS 
.introjs-tooltiptext {
  color: #212121;
}

// Trasitions
@keyframes animateSetting {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.opacity-transition {
  display: none;
}
.opacity-transition-enter-active {
  display: block;
  animation: animateSetting 300ms;
}
.opacity-transition-enter-done {
  display: block;
}
.opacity-transition-exit {
  display: block;
}
.opacity-transition-exit-active {
  display: block;
  animation: animateSetting 300ms reverse;
}
.opacity-transition-exit-done {
  display: none;
}

// Scroll bar
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0f1213;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b9b9b9;
}