.skip-silence-bar {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #1B1B1B;
  color: #FFFFFF;

  font-family: "Poppins", sans-serif;

  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 50px;
  padding: 10px;

  display: flex;
  align-items: center;

  .speed-setting {
    display: flex;

    label {
      margin-right: 5px;
    }
  }
}

.skip-silence-bar-collapsed {
  background: #1B1B1B;
  color: #FFFFFF;

  position: fixed;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 10px;

  border-top-left-radius: 10px;

  cursor: pointer;
}