body {
  background: #1B1B1B;
  color: #FFFFFF;

  width: 350px;
  min-height: 500px;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.sub-title {
  text-align: center;
  font-size: large;
  margin-top: 2em;
}

.title img {
  height: 32px;
  margin-right: 0.5em;
}

.warning {
  width: calc(100% - 4em);
  background-color: #EF8D9C;
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 3em;
  display: none;
}
.info {
  width: calc(100% - 2em);
  background-color: rgb(2, 134, 79);
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 3em;
  display: none;
}

#vu_meter {
  width: 300px;
  height: 30px;
  background: #1B1B1B;
  float: left;
  margin: 1rem 0;
}

input {
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-thumb {
  background: #4AC298 !important;
  cursor: pointer;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #ebebeb !important;
}
.setting {
  margin-top: 2em;
}
select {
  width: 100%;
  background-color: #4AC298;
  margin-top: 1em;
}

.small {
  margin-bottom: 0.8rem;
  margin-top: 0;
  font-size: 0.6rem;
}

.plugin-info {
  margin-top: 4em;
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

/* On/Off Toggle (https://codepen.io/mburnette/pen/LxNxNg) */
.toggle-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.toggle-container input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle-container label {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

.toggle-container label:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

.toggle-container input:checked + label {
	background: #4AC298;
}

.toggle-container input:checked + label:after {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}

.toggle-container label:active:after {
	width: 60px;
}

.on-help {
  text-align: center;
  margin-top: 0.5em;
}

.saved-info {
  text-align: center;
}