body {
  background: #002D3C;
  color: #FFFFFF;

  min-width: 300px;
  min-height: 300px;
}

.title {
  text-align: center;
}

.no-media {
  width: calc(100% - 4em);
  background-color: #EF8D9C;
  border-radius: 1em;
  padding: 2em;
  margin-bottom: 3em;
}

#vu_meter {
  width: 500px;
  height: 30px;
  background: #002D3C;
  float: left;
  margin-bottom: 1rem;
}

input {
  width: 100%;
}

.small {
  margin-bottom: 0.8rem;
  margin-top: 0;
  font-size: 0.6rem;
}

/* On/Off Toggle (https://codepen.io/agoodwin/pen/JBvBPr) */
.toggle-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.toggle label {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 80px;
  background-color: #FD1015;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px #ef4247;
  -webkit-tap-highlight-color: transparent;
}
.toggle label:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: width 0.2s cubic-bezier(0, -1.85, 0.27, 1.75);
  height: 42px;
  width: 42px;
  background-color: #fd0f14;
  border-radius: 46px;
  box-shadow: inset 0px 0px 0px 8px #fff;
}
.toggle input {
  display: none;
}
.toggle input:checked + label {
  background-color: #57de72;
  box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, 0.1), 0px 9px 15px 0px rgba(3, 132, 28, 0.5411764706);
}
.toggle input:checked + label:before {
  width: 10px;
  background-color: #fff;
}